/*body{
	background-image: url(../img/3.jpg);
	background-attachment: fixed;
}*/
footer{
	background-color: #25313f;
	width: 100%;
}
.carousel{
	margin-top: 20px;
}
.text{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	line-height: 37px;
	color: black;
}
.name-web{
	margin-left: 15px;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}
.top-text{
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	margin: 25px 0;
	font-weight: bold;
	text-align: center;
}
.name-text{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 15px;
}
.nav-hr{
	margin-top: 10px!important;
}
.top{
	font-family: 'Playfair Display', serif;
	font-size: 27px;
	margin-top: 6px;
}

.top-left{
	margin-left: 18px;
}
.number{
	color: #3e3b3b;
	font-size: 24px;
	font-family: 'Playfair Display', serif;
}
.number:hover{
	text-decoration: none;
	color: #d5841a;
}
.top-numb{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.img-logo{
	height: 60px;
	border-radius: 5px;
}
.nav-link{
	color: #3e3b3b;
	font-family: 'Playfair Display', serif;
	font-size: 21px;
	padding: 4px 8px!important;
}
.nav-link:hover{
	color: #d5841a;
}
.img-carusel{
	height: 500px;
}
.img-2{
	border-radius: 4px;
}
.number-bottom{
	color: #adadad;
	font-style: italic;
	font-size: 25px;
	font-family: 'Playfair Display', serif;
	/*margin-left: 20px;*/
	transition: ease-out 0.3s;
}
.number-bottom:hover{
	color: #d5841a;
	text-decoration: none; 
	transition: ease-out 0.3s;
}
.social:hover{
	color: #4c75a3;
	text-decoration: none;
}
.social:hover > i{
	color: #4c75a3;
	transition: ease-out 0.3s;
}
.social span{
	transition: ease-out 0.3s;
}
.text-bottom a{
	color: #4c4848!important;
	font-size: 24px;
}
.bottom{
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #cdcdcd;
}
.social{
	font-size: 20px;
}
.bottom-name{
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	margin-left: 10px;
}