/* ============= PT Serif ============= */

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* ============= PT Serif ============= */

@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/PT_Serif_Caption/PTSerifCaption-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/PT_Serif_Caption/PTSerifCaption-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
