:root {
  --body-bg-color: #fff;
  --body-color: #212529;
  --primary-link-color: #0a58ca;
  --primary-hover-link-color: var(--primary-link-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #dee2e6;
    --body-bg-color: #212529;
    --primary-link-color: #6ea8fe;
    --primary-hover-link-color: #8bb9fe;
  }
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: var(--body-color);
  font-family: Arial, sans-serif;
  background-color: var(--body-bg-color);
}

main {
  padding: 2rem 0;
}

.container {
  --bs-gutter-x: 30px;
  --container-width: 1240px;

  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--bs-gutter-x) / 2);
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: calc(var(--container-width) + var(--bs-gutter-x));
  }
}

h1 {
  margin: 0 0 1.375rem;
  line-height: 1.3;
  padding-bottom: 1.375rem;
  border-bottom: 1px solid white;
}

.projects_sections {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.projects_section[data-hidden] {
  & .projects_section__icon {
    rotate: 180deg;
  }

  & .projects_section__content {
    display: none;
  }
}

.projects_section__header {
  display: inline-flex;
  column-gap: 10px;
  flex-direction: row;
  align-items: center;
}

.projects_section__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.projects_section__title {
  margin: 0;
  line-height: 1.3;
}

.projects_section__filter {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 20px;
  width: fit-content;
}

.projects_section__content {
  margin: 1.25rem 0 0;
}

a {
  color: var(--primary-link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--primary-hover-link-color);
  }
}

ul {
  margin: 0;
  padding-left: 16px;
}

select {
  font-size: 14px;
}
