.top-header {
	background-color: $bg-color-header;

	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__link {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: right;

		.link__icon, a {
			color: $text-color-header;
			transition: color .1s linear;
		}

		.link__icon {
			margin-right: 7px;
			font-size: 18px;
		}

		&:hover i {
			color: rgba($text-color-header, .8);
		}

		&:hover a {
			color: rgba($text-color-header, .8);
			text-decoration: none;
		}
	}

	// &__link:not(:last-child) {
	// 	margin-right: 20px;
	// }
}

// Навигация и логотип 
.header-content {
	position: relative;
	width: 100%;
	padding: 5px 0;
	background-color: rgba($primary-bg-color, .7);
	transition: padding .3s linear, background .3s linear;
	z-index: 1;

	&__inner {
		justify-content: space-between;
		align-items: center;

		.logo-site {
			font-size: 32px;
			color: white;
			cursor: pointer;
		}
	}

	.header-nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&__item {
			color: white;
			font-size: 18px;
			position: relative;

			&:hover {
				@extend %reboot-link;
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 2px;
				background-color: transparent;
				width: 100%;
				transition: background .3s linear;
				margin-top: 5px;
			}

			&:hover:after {
				background: white;
			}

		}

		&__item:not(:last-child) {
			margin-right: 25px;
		}

	}

	// Если включено прилипание шапки
	&.sticked {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		padding: 0px 0;
		background-color: rgba($primary-bg-color, 1);
		box-shadow: none;

		.header-nav__item {
			color: black;
		}
		.header-nav__item:after {
			content: none;
		}
	}
}

.header-preview {
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: calc(100vh - 34px);
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 56px);
	overflow: hidden;

	&__content {
		// position: absolute;
	}
}

.preview__title {
	color: white;
	font-size: 35px;
	margin-bottom: 20px;
}

.preview__text {
	color: white;
	font-size: 18px;
}

.cf__preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 5px;
}

.cf__title {
	color: black;
	font-size: 30px;
	margin-bottom: 25px;
	text-align: center;
}

.cf__input,
.cf__submit {
	padding: 7px 10px;
	width: 100%;
	border-radius: 3px; 

	&:focus {
		outline: none;
	}
}

.cf__input {
	margin-bottom: 15px;
	border: 1px solid;
	transition: border-color .1s linear;

	&:focus {
		border-color: #8FCDA4;
	}

}

.cf__textarea {
	resize: none;
}

.cf__submit {
	background-color: $btn-bg-color;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	border-color: transparent;
	transition: background-color .1s linear;
	cursor: pointer;

	&:hover {
		background-color: $btn-bg-color-hover;
	}
}
