@media (max-width: 991.98px) {
	.header-content {
		background-color: rgba(black, .8);
		// box-shadow: 0 5px 5px -5px;

		.mobile-nav {
			background-color: transparent;
			// overflow: hidden;

			.header-nav {
				position: absolute;
				top: 5px;
				width: 100%;
				flex-direction: column;
				// max-height: 0;
				padding: 10px 0;
				transition: max-height .4s linear;

				&__item {
					margin: 0;
					padding: 10px;

					&:after {
						content: none;
					}
				}

			}

			&.show {
				background-color: rgba(black, .8);

				.header-nav {

				}

			}

		}
	}

	.mobile-toggler {
		position: absolute;
		right: 20px;
		
		i {
			font-size: 24px;
			color: white;
		}
	}

	.header-preview {
		height: 100vh;
	}

	// Кнопка вместо формы
	.cf-m__btn {
	text-align: center;

		span {
			display: block;
			padding: 15px 0;
			background-color: $btn-bg-color;
			text-transform: uppercase;
			font-size: 18px;
			color: white;
		}
	}

	.logo-site {
		padding: 0 15px;
	}	
}