@media (max-width: 991.98px) {
	.header-content {
		background-color: rgba(black, .8);
		// box-shadow: 0 5px 5px -5px;

		.mobile-nav {
			position: absolute;
			width: 100%;
			background-color: rgba(black, .8);
			overflow: hidden;
			padding: 10px 0;

			.header-nav {
				flex-direction: column;

				&__item {
					margin: 0;
					padding: 10px;

					&:after {
						content: none;
					}
				}

			}

		}
	}

	.mobile-toggler {
		position: absolute;
		right: 20px;
		
		i {
			font-size: 24px;
			color: white;
		}
	}

	.header-preview {
		height: 100vh;
	}

	// Кнопка вместо формы
	.cf-m__btn {
	text-align: center;

		span {
			display: inline-block;
			padding: 15px 60px;
			background-color: $btn-bg-color;
			text-transform: uppercase;
			font-size: 18px;
			color: white;
		}
	}

	.logo-site {
		padding: 0 15px;
	}	
}