.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel .carousel-images {
  display: flex;
  width: fit-content;
}

.carousel .carousel-images img {
  max-width: 100%;
  height: auto;
}

.carousel-images--slide {
  display: inline-flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

  &:not(.--slide-active) {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  &.--slide-active {
    opacity: 1;
    visibility: visible;
  }
}

.carousel-loader {
  margin-top: 1.5rem;
}

.carousel .carousel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.carousel-buttons--prev,
.carousel-buttons--next {
  border: none;
  outline: none;
  color: white;
  background-color: #34495e;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-out;
}

.carousel-buttons--prev:hover,
.carousel-buttons--next:hover {
  background-color: var(--primary-dark-color);
}

.carousel-buttons--prev {
  border-radius: 4px 0 0 4px;
}

.carousel-buttons--next {
  border-radius: 0 4px 4px 0;
}

.carousel .carousel-buttons input[type='button']:first-child {
  border-right: 1px solid white;
}
