.header {
  background-color: #f2f4f5;
}

.header-shell {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.header-brand {
  font-size: 26px;
  line-height: 1;
  font-weight: 600;
  color: var(--primary-dark-color);
}

.header-nav--list {
  display: flex;
  column-gap: 1rem;
  list-style: none;
}

.header-nav--item {
  display: inline-flex;
}

.header-nav--item:not(:last-child) {
  padding-right: 1rem;
  border-right: 1px solid var(--primary-link-color);
}

.header-nav--link {
  font-size: 16px;
  text-decoration: none;
  color: var(--primary-link-color);
  transition: opacity 0.3s ease-out;
}

.header-nav--link:hover {
  opacity: 0.7;
}
