@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'), 
    url('static/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Thin.woff') format('woff'), 
    url('static/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
    url('static/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-ThinItalic.woff') format('woff'),
    url('static/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('static/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-UltraLight.woff') format('woff'),
    url('static/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
    url('static/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-UltraLightItalic.woff') format('woff'), 
    url('static/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'), 
    url('static/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Light.woff') format('woff'), 
    url('static/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
    url('static/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-LightItalic.woff') format('woff'),
    url('static/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'), 
    url('static/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Regular.woff') format('woff'), 
    url('static/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
    url('static/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-RegularItalic.woff') format('woff'),
    url('static/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'), 
    url('static/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Medium.woff') format('woff'), 
    url('static/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
    url('static/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-MediumItalic.woff') format('woff'),
    url('static/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'), 
    url('static/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-SemiBold.woff') format('woff'), 
    url('static/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-SemiBoldItalic.eot');
  src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
    url('static/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-SemiBoldItalic.woff') format('woff'), 
    url('static/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'), 
    url('static/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Bold.woff') format('woff'), 
    url('static/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
    url('static/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-BoldItalic.woff') format('woff'),
    url('static/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('static/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-ExtraBold.woff') format('woff'),
    url('static/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-ExtraBoldItalic.eot');
  src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
    url('static/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-ExtraBoldItalic.woff') format('woff'), 
    url('static/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'), 
    url('static/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Heavy.woff') format('woff'), 
    url('static/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'), 
    url('static/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('static/Gilroy-Black.woff') format('woff'), 
    url('static/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
    url('static/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-HeavyItalic.woff') format('woff'),
    url('static/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('static/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
    url('static/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'), 
    url('static/Gilroy-BlackItalic.woff') format('woff'),
    url('static/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}