.about{
        display: block;
        border: 2px solid #767B8B;
        padding: 15px 15px;
        margin: 15px auto;
        text-align: center;
        border-radius: 5px;
        background-color: #D0D4E1;
        width: 600px;
}
.about>p{
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-weight: 500;
}
.about>p>a{
  text-decoration: none;
  color: blue;
} 
.about>p>a:hover{
  text-decoration: underline;
 }
.aboutheader>h2,
.about>h3{
margin: 0;
}