.footer{
	background-color: #25313f;
	width:100%;
	height:auto;
	margin-top:50px;
	padding-bottom: 0;
}

#weabout{
	display:inline-block;
	color:#fff;
	font-size:19px;
	margin:15px 10px;
	font-family: 'Open Sans Condensed', sans-serif;   
	font-style:italic;
}

#social{
	padding-right:20px;
}
`

.widget-social{
	font-size:20px;
}

.widget-social li{
	list-style:none;
	display:inline-block;
}

.widget-social li a{
	text-decoration:none;
	color:#fff;
	margin-right:15px;
    transition:all 0.2s ease;
	
}

#vk:hover{
	color:#48729E;
}

#facebook:hover{
	color:#3B5998;
}

#twitter:hover{
	color:#00ACED;
}

#you-tube:hover{
	color:#F90000;
}

.footerlogo{
	width: 50px;
	height: 60px;
	padding: 20px 0 0 5px;
}

.logo_copy{
	width: 50px;
	height: 50px;
}

#copy{
	color:#fff;
	font-style:italic;
	margin:0;
	margin-top: 30px;
	margin-left: 15px;
}

.copy{
	display:flex;
	padding-left: 5px;
	padding-bottom: 10px;
	justify-content: flex-start;
}

/*Стилизуем меню в футере*/
.footermenu{
	display:block;
	width:80%;
	margin-left: auto;
}

.footermenublock{
	display:inline-block;
	margin-left:20px;
	text-align:left;
}

.footermenublock a{
	color:#6F7570;
	text-decoration:none;
	display:block;
	font-family: TTSquaresRegular3;
	font-size: 15px;
	
}

.footermenublock a:hover{
	text-decoration:underline;
}

.bottom{
	margin-top:5px;
  }

 .imgfooter{
 	height:50px;
 	width:50px;
 	background-image: url(../images/logo.png);
 	background-size:cover;

 }

 .namesite{
 	font-size:30px;
 	color:#525a68;
 	font-style:italic;
 	align-self: center;
 	padding-left:10px;
 	font-family: 'Montserrat', sans-serif;
 }

 .top_footer{
 	display:flex;
 	justify-content: space-between;
 }

 .namesitefooter{
 	display: flex;
 	align-self: center;
 	margin-left:10px;
 }