.galleryheader h2{
	text-align: center;
	margin: 15px 0;
}
hr{
	width: 600px;
}

.grid_gallery{
	margin-top: 20px;
	padding: 0 10px;
	display: grid;
	grid-gap: 5px;
	grid-template-rows: repeat(9, 300px);
	grid-template-areas: "a a a a b b b b b"
	                     "d d d k k k k k k"
	                     "j j j j j f f f f"
	                     "j j j j j c c c c"
	                     "e e e e e e e e e"
	                     "bb bb bb bb bb aa aa aa aa"
	                     "cc cc cc cc cc aa aa aa aa"
	                     "dd dd dd ee ee ee ee ee ee"
	                     "ff ff ff ff kk kk kk kk kk";
	                     
	                     
}
.galleryphoto{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid grey;
	
}
.grid-item-a{
	background-image: url(../images/galery/img2.jpg);
	grid-area: a;
}
.grid-item-b{
	grid-area: b;
	background-image: url(../images/galery/img13.jpg);
}
.grid-item-c{
	grid-area: c;
	background-image: url(../images/galery/img19.jpg);
}
.grid-item-d{
	grid-area: d;
	background-image: url(../images/galery/img4.jpg);
}
.grid-item-e{
	grid-area: e;
	background-image: url(../images/galery/img6.jpg);
}
.grid-item-f{
	grid-area: f;
	background-image: url(../images/galery/img7.jpg);
}
.grid-item-j{
	grid-area: j;
	background-image: url(../images/galery/img9.jpg);
}
.grid-item-k{
	grid-area: k;
	background-image: url(../images/galery/img8.jpg);
}
.grid-item-aa{
	grid-area: aa;
	background-image: url(../images/galery/img12.jpg);
}
.grid-item-bb{
	grid-area: bb;
	background-image: url(../images/img4.jpg);
}
 .grid-item-cc{
	grid-area: cc;
	background-image: url(../images/galery/img16.jpg);
}
.grid-item-dd{
	grid-area: dd;
	background-image: url(../images/galery/img15.jpg);
}
.grid-item-ee{
	grid-area: ee;
	background-image: url(../images/galery/img5.jpg);
}
.grid-item-ff{
	grid-area: ff;
	background-image: url(../images/galery/img11.jpg);
} 
.grid-item-kk{
	grid-area: kk;
	background-image: url(../images/galery/img3.jpg);
} 
.next-page{
	text-align: center;
	margin-top: 15px;
}
.next-page-text{
	display: inline-block;
	padding: 10px 15px;
	margin: 0 auto;
	font-size: 16px;
	text-decoration: none;
	color: black;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-weight: 400;
}
.next-page-text:hover{
	opacity: 0.7;

}
.next-page-item{
	margin-top: 15px;
}
.next-page-number{
	padding: 5px 10px;
	color: black;
	text-decoration: none;
	border-radius: 5px;
}
.number-active{
	background-color: #D0D4E1;
	color: #fff;
}
.number-noactive:hover{
	color: grey;
}