body{
	padding: 0;
	margin: 0;
}
.content{
	display: grid;
	grid-template-areas: "header header"
	                     "sitebar contentsite"
						 "sitebar contentsite"
						 "footer footer";
	grid-template-columns: 1fr 3fr;
	grid-column-gap:5px;
	grid-template-rows: auto minmax(500px, auto) auto minmax(100px, auto);
	
}

.header{
	grid-area: header;
	background-color: #D0FF00;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.contentsite{
	grid-area: contentsite;
	background-color: #3AE2CE;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	min-height: 500px;
	padding-bottom: 10px;
}

.contentsite p{
	padding: 0px 7px;
	font-size: 19px;
	font-style: italic;
	text-align: left;
	
}

.sitebar{
	grid-area: sitebar;
	grid-row: 2/3;
}

.innercontentsitebar{
	position: fixed;
	background-color: #FFDD00;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	width:24%;
	min-height: 400px;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
	background-color: #B34EE9;
	margin-top: 5px;
	grid-row:4/5;
	min-height: 50px;

}
.header a{
	color: #777;
	text-decoration: none;
	margin: 10px 5px;
	padding: 15px 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.header a:hover{
	color: #fff;
	background-color: #666
}

.imgbox{
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
	width: 680px;
	border:2px dashed #20bcd5;
	margin: 0 auto;
	
}
.img1{
    background-image: url(../images/img6.jpg);
}

.img2{
	background-image: url(../images/img8.jpg);

}