header{
	width: 100%;
}
.menu ul{
	list-style:none;
	display:flex;
}

body{
	margin: 0;
	padding: 0;
}

.menu ul li a{
    display: flex;
	font-size: 15px;
	padding: 5px 20px 5px 0;
	text-decoration:none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-style:italic;
	transition: all 0.3s ease;
}

.menu ul li a:hover{
	
	color: #FF7777;
	transition: all 0.3s ease;
}

.menu ul li{
	position:relative;
}

.menu i.fa.fa-play,
.menu i.fa.fa-th-list,
.menu i.fa.fa-bars,
.menu i.fa.fa-home{
	padding-right:10px;
	font-size:18px;
}


#site-header{
	display:flex;
	justify-content: space-between;
	background-color: #3e4955;
}

.namesite_header{
	display: flex;
	align-self:center;
}

.headersite{
	display: flex;
	margin-left:10px;
}

#namesitehead{
	align-self: center;
	color: #ff7777;
	font-size: 27px;
	margin-left:10px;
	/*font-family: 'Slabo 27px', serif;
	font-family: 'Mali', cursive;
	font-family: 'Raleway', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	}

.imgheader{
	background-image: url(../images/logo.png);
	width:50px;
	height:50px;
	background-size: cover;
}
