/* @media only screen and (max-width: 700px){
  .headersite{
    display:none;
  }

  #site-header{
  justify-content: center;
  overflow: hidden;
    }
}

@media only screen and (max-width: 915px){
  .minibox{
    margin-left: 10px;
      
  }

  .text{
    font-size: 18px;
      margin-top:0;
  }

  .menusitebar ul li a{
    width: 100%;
  }
}
*/
@media screen and (max-width: 880px){
  .swiper-container{
      display: none;
    }
    .inercontent1{
        height:400px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    hr{
      width: 80%;
    }
    .minibox{
      width:320px;
      height:100%;
      margin-left: 20px;
      padding-bottom: 0px;
    }

    .inercontent1 #h2{
       font-size:19px;
       padding-top: 15px;
    }
    
    iframe{
      display: none;
    }
}
@media screen and (max-width: 880px){
  .textinercontent{
  font-size: 40px;
  }
}

