@media only screen and (max-width: 980px){
   .menu,
   .imgheader{
    display: none;
   }
   
   #site-header{
    height: 95px;
    justify-content: center;
    align-items: center
   }
   .sitebar_content{
    position: fixed;
     left: -706px; 
    top: 0px;
    width: 70%;
    height: 100%;
    background-color: #3E4955;
    border-radius: 10px;
    border-right: 2px solid black;
    transition: all 0.4s ease-out;
   }
   .menusitebar span,
   .menusitebar li a{
     color: #fff;
     font-size: 30px;
   }
   #toggle-button{
     position: absolute;
     top: 10px;
     left: 715px;
     width: 70px;
     height: 70px;
     background-color: #e0e5ea;
     border-radius: 10px;
     cursor: pointer;
   }
   .sitebar_content.active{
     left: 0px;
   }
   .toggle-button span{
     display: block;
     width: 80%;
     height: 10px;
     color: #666;
     margin-top: 30px;
   }
   .toggle-button span:hover{
     background-color: #fafafa;
   }
   .toggle-button:hover{
     background-color: #556270;
   }
   .inercontent2{
    width: 100%;
   }
   .textinercontent{
    font-size: 40px;
    margin: 30px 40px;
   }
   .inercontent2 h2{
    font-size: 50px;
    margin: 0;
   }
   .inercontent2 hr{
    width: 85%;
   }
  .img-item{
    width: 90%;
    height: 515px;
  }
  .inercontent1{
        height:530px;
    }
    .minibox{
    width: 400px;
    }
    .inercontent1 #h2{
      font-size: 30px;
    }
    .text {
    font-size: 27px;
    margin-top: 10px;
    }
    #endminibox {
    font-size: 26px;
    }
    #namesitehead {
    font-size: 45px;
    }
    .swiper-container{
      display: none;
    }
    iframe{
      display: none;
    }
    .widget-social li {
      font-size: 25px;
    }
    .namesite {
    font-size: 40px;
    }
    #copy{
      font-size: 22px;
    }
    #weabout{
      font-size: 30px;
    }
    .footermenublock a{
      font-size: 20px;
    }
    .sitebarbox{
      width: 85%;
      
      line-height: 45px;
      padding: 30px 10px;
    }   
    .sitebarbox p{
     font-size: 35px;
     margin: 0;
    }   
    .yandex-map{
      width: 85%;
      height: 450px;
    }
    .yandex-map img{
      width: 100%;
      height: 450px;
    }
    .mobile{
      display: none;
    }
}

@media only screen and (max-width: 660px){

}