aside{
    width: 35%;
}
.sitebar_content{
	width:100%;
	display: flex;
	justify-content: center;
}
.sitebar{
	width:100%;
	font-family: "Roboto", sans-serif, Helvetica, Arial;
	display:  flex;
	flex-direction: column;
	margin-top: 40px;
}
#sitebar_catalog{
    margin-top: 20px;
    width: 100%;
}
.menusitebar{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0;
    height: auto;
}
.menusitebar ul{
    display: flex;
    position: relative;
    list-style: none;
    flex-flow: column;
    padding: 0;
    margin: 0;
}
.menusitebar ul li{
    list-style: none;
    display:  block;
    flex-flow: column;
    margin:0;
}
.menusitebar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 60px;
    padding-left: 15px;
    font-style: italic;
    max-width: 240px;
    display: flex;
    justify-content: flex-start;
}
.menusitebar ul li a:hover{
    background-color: #828282;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.menusitebar ul li ul{
    padding-left: 10px;
}
.selection1{
    position: relative;
    max-width: 240px;
    font-size:14px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-out;
    margin-top: 5px;
}
.active+#ul4{
    max-height: 75px;
    transition: all 0.4s ease-out;
}
.active+#ul3{
     max-height: 148px;
     transition: all 0.8s ease-out;
}
.active+#ul2{
     max-height: 221px;
     transition: all 0.8s ease-out;
}
.active+#ul1{
    max-height: 181px;
    transition: all 0.8s ease-out;
}
.headmenusitebar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif, Helvetica, Arial;
    font-style: italic;
    padding: 7px 0;
    margin: 0 auto;
    background:#262626;
    border-radius: 3px;
    color:#fff;
    font-weight: 500;
    width: 270px;
}
.headmenusitebar:nth-child(3){
    margin-top: 50px;
}
.menusitebar span{
    color:black;
    font-size: 16px;
    padding: 10px 0px;
    font-style: italic;
    position: relative;
    padding-left:15px;
    max-width:  240px;
    display: block;
}
.menusitebar span:hover{
    background:#828282;
    border-radius:5px;
    cursor: pointer;
}
span i{
    font-size: 16px;
    position: relative;
    left: -5px;
}
.iconmenu i{
    font-size: 10px;
    position: relative;
    top: 3px;
    left: -5px;
}
.iconmenu1 i{
    font-size: 10px;
    position: relative;
    top: 10px;
    left: -5px;
}

.yandex-map{
	margin: 0px auto;
    margin-bottom: 15px;
    width: 320px;
    height: 280px;
    border: 2px solid #000; 
    border-radius: 5px;
}
.yandex-map img{
    width: 320px;
    height: 280px;
}

.sitebarbox{
	background-color: #D0D4E1;
    border-radius: 5px;
    margin: 20px auto;
	border: 2px solid #000; 
    padding: 5px 10px;
    width: 85%;
    font-family: "Roboto", sans-serif, Helvetica, Arial;
    font-style: italic;
    text-align: center;
    line-height:24px;
    font-weight: 400; 
}

.box2_textfull{
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.8s ease-out;
}
.p2{
    font-size: 18px;
    font-weight: 600;
}

.history{
    display: block;
    color: grey;
    cursor: pointer;
    margin-bottom: 5px;
}
.history:hover{
    text-decoration: underline;
    color: black;
}
.active+.box2_textfull{
    max-height: 325px;
    transition: all 0.8s ease-out;
}
