*{
	font-family: 'Noto Serif SC', serif;
}

/*Основной цвет текста*/
 .custom-color{
 	color: #e28133!important;
 }

/*Стилизуем шапку*/
.h3-preview{
	font-family: 'Old Standard TT', serif;
}
input{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

/*Задний фон*/
.bg{
	background: url(../img/img-6-background.jpeg) no-repeat center center;
	background-size: cover;
}
.bg-about{
	background: url(../img/img-8.jpeg) no-repeat center center;
	background-size: cover;
}
.p-box{
	overflow: auto;
}
.img-logo{
	height: 60px;
	width: 60px;
}
input{
	border-radius: 5px;
}
/*footer{
	background-color: #25313f;
}*/

/*Custom Mediaqwery*/
@media(max-width: 768px){
	input{
		width: 70%;
		padding: 15px 0 15px 10px;
	}
	
}
@media (min-width: 576px) and (max-width: 768px){
	.j-box{
		height: 145px;
	}
}

@media(min-width: 576px){
	.p-box{
		height: 145px;
	}
	
}

@media(max-width: 576px){
	input{
		width: 85%;
		
	}
}

@media(min-width: 1164px){
	.ml-custom-5{
		margin-left: 3rem!important;
	}
	.p-box{
		height: 115px;
	}
}
@media(min-width: 768px) and (max-width: 930px){
	.media-box{
		height: 201px;
		overflow: auto;
	}
}

/*Кастомные стили font-size для удобства*/
.fz-36{
	font-size: 36px!important;
}
.fz-34{
	font-size: 34px!important;
}
.fz-32{
	font-size: 32px!important;
}
.fz-30{
	font-size: 30px!important;
}
.fz-28{
	font-size: 28px!important;
}
.fz-26{
	font-size: 26px!important;
}
.fz-24{
	font-size: 24px!important;
}
.fz-22{
	font-size: 22px!important;
}
.fz-20{
	font-size: 20px!important;
}
.fz-18{
	font-size: 18px!important;
}
.fz-16{
	font-size: 16px!important;
}
.fz-14{
	font-size: 14px;
}


