*{
	font-family: 'Noto Serif SC', serif;
}

/*Стилизуем шапку*/
.nav-text{
	color: #e28133!important;
	font-size: 18px;
	font-weight: 500;
}
.logo-name{
	color: #e28133!important;
	font-weight: bold;
	
}
.logo-img{
	height: 50px;
}

.h3-preview{
	font-family: 'Old Standard TT', serif;
}
.bg{
	background-image: url(../img/img-6-background.jpeg);
	background-size: cover;

}
.text-price{
	font-size: 16px!important;
}

/*Кастомные стили для удобства*/
.fz-36{
	font-size: 36px;
}
.fz-32{
	font-size: 32px;
}
.fz-22{
	font-size: 22px;
}
.fz-16{
	font-size: 16px;
}
