body{
	width: 62,37vmax;
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 70%;
	margin: 0 auto;
}
.menu{
	height: 100%;
	width: 35%;
	position: fixed;
	top: 0;
	left: -35%;
	background-color: #999;
	transition: all 0.5s ease-out;
	z-index: 5;
}

.menu nav{
	display: flex;
	flex-direction: column;
}

nav>p{
	color: black;
 	font-size: 28px;
 	text-align: center;
 	background-color: #20bcd5;
 	border-radius: 5px;
 	margin: 5px auto;
 	margin-bottom: 20px;
 	width: 95%;
 	padding: 30px 0;
}
 nav>a{
 	text-decoration: none;
 	color: black;
 	font-size: 20px;
 	text-align: center;
 	margin-bottom: 15px;
 	font-style: italic;
 }
 nav>a:hover{
 	text-decoration: underline;
 }

.btn{
	height: 30px;
	width: 30px;
	position: absolute;
	left: 102%;
	top: 5px;
	background: #999;
	content: f0c9;
	text-align: center;
	font-size: 28px;
}
.btn:hover{
	background: #666;
	color: #fff;
	border: 1px solid #999;
}

.header{
	width: 100%;
	background: #3E508B;
	color: #fff;
	font-size: 18px;
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
}
#one{
	padding: 10px 10px;
	margin-left: 20px;
	border:1px solid #fff;
	border-radius: 5px;
}
#one:hover{
	opacity: 0.7;
}
#two{
	margin-right: 20px;
	border: 1px solid #fff;
	padding: 10px 10px;
	border-radius:10px;
	color: #fff;
	text-decoration: none;
}
#two:hover{
	opacity: 0.7;
}
.top p{
	padding: 20px 10px;
	margin: 0;
	font-size: 18px;
	font-style: italic;
}
#three{
	padding: 10px 10px;
	font-size: 22px;
	font-style: italic;
}
.top{
	border:1px solid #665;
	transition: all 0.8s ease-out;
	position: absolute;
	top: -87%;
	width: 70%;

}

.img img{
	height: 300px;
	width: 100%;
}
.img{
	margin: 0 auto;
	width: 70%;
}
.btn2{
	width: 30%;
	height: 40px;
	font-size: 20px;
	background: #777;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 102%;
	left: 35%;
	margin-bottom: 20px;
	cursor: pointer;
	color: #fff;
}
.btn2:hover{
	background-color: #444;
}